---
# Only the main Sass file needs front matter (the dashes are enough)
---
.clear{
  clear: both;
}
body{
  font-family: Helvetica, "sans-serif";
  background-color: #EBEBEB;
}
a{
  text-decoration: none;
  color: #5596F7;
}
body > header{
  padding: 20px 0;
}
.container{
  margin-top: 20px;
}
header{
  background-color: #EBEBEB;
}
main{
  background-color: #EBEBEB;
}
footer{
  background-color: #FC9AC8;
}
.wrapper{

  padding:0 80px;
}
header .logo{
  text-decoration: none;
  float: left;
  margin: 0;
  padding-top: 8px;
}
.main_nav{
  float: right;
  margin: 0;
}
.main_nav ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
.main_nav ul li{
  display: inline-block;
}
.main_nav ul li a{
  display: block;
  padding: 8px 4px;
  font-weight: 700;
}
.posts{
  list-style: none;
  padding: 0;
}
.posts li a{
  color: #571A36;
}
.posts li{
  border-bottom: 1px solid #B7CDEF;
}
.posts li:last-child{
  border-bottom: 0;
}
.day{
  font-size: 70%;
  color: #B97C99;
  float: right;
}
.site_footer{
  background-color: #C1C1C1;
  text-align: center;
  padding:10px 0;
  border-top: 1px solid #B7CDEF;
}

