---
layout: default
---


  <ul class="posts">
    {% for post in site.posts %}

  <li>
              <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  <small class="day">  <em><sup>{{ post.date | date: "%b %-d, %Y" }}</sup></em></small>
              </h2>
              <p>Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem
                Ipsum.
				</p>
    </li>

      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>




