<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	
    {% include header.html %}
	<div class="wrapper">
    	<main>
      
      	  {{ content }}
      
    	<main>
	</div>
	
    {% include footer.html %}

  </body>

</html>
